{% extends 'nginx/templates/config.site.jinja' %}

{% block server_name %}{{ hostname }}{% endblock %}

{# Path for static files #}
{% block root %}{{ config.get('docroot', '/var/www/html') }}{% endblock %}

{# Custom 404 page #}
{% block path_404 %}{{ config.get('path_404', '/404.html') }}{% endblock %}

{% macro proxy_block() %}
        proxy_read_timeout 600s;
        proxy_set_header  X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header  Host             $http_host;
        proxy_redirect off;
        proxy_pass http://proxy-{{ app_name }};
{% endmacro %}

{% block footer %}

{%- if config.get('proxy') and not config.get('proxy_only') %}
    location @{{ app_name }} {
{{ proxy_block() }}
    }
{%- endif %}

    location / {
{%- if config.get('proxy') and config.get('proxy_only') %}
{{ proxy_block() }}
{%- else %}
        try_files $uri @{{ app_name }};
{%- endif %}
    }

{% if salt['pillar.get']('nginx:expires', true) %}
    ####
    # Expires settings for webfonts
    ####

    location ~* \.(?:ttf|ttc|otf|eot|woff)$ {
        # Set cache rules for webfonts.
        #
        # See http://wiki.nginx.org/HttpCoreModule#location
        # And https://github.com/h5bp/server-configs/issues/85
        # And https://github.com/h5bp/server-configs/issues/86
        expires 1M;
        access_log off;
        add_header Cache-Control "public";
    }
{% endif %}
{% if config.get('proxy') -%}
}

upstream proxy-{{ app_name }} {
    server 127.0.0.1:{{ config.proxy_port }};
{% endif -%}
{% endblock %}
