#!/bin/bash

CHECKER=`basename $0`
if [[ "$CHECKER" = "static_analysis_wrapper" ]]; then
    echo 'ERROR: Do not run this script directly!' 1>&2
    exit 1
fi

[[ -s "$HOME/.rvm/scripts/rvm" ]] && . "$HOME/.rvm/scripts/rvm"  # This loads RVM into a shell session.

RUBY_GEMSET={{ ruby }}@{{ gemset }}

rvm use $RUBY_GEMSET

~/.rvm/gems/$RUBY_GEMSET/bin/$CHECKER "$@"
